@font-face {
  font-family: 'rubikregular';
  src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alex_brushregular';
  src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
    url('fonts/alexbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "rubikregular", serif;
}

.left-container {
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 80px;
}

.odin-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.384);
  padding: 10px 80px;
  margin-top: 200px;
}

.odin-title {
  font-size: 3rem;
  font-family: 'alex_brushregular';
}

footer {
  text-align: center;
  padding: 10px;
}

body {
  display: flex;
  height: 100vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.intro-container,
.info-section,
.submit-section {
  padding: 30px 40px;
}

fieldset{
  display: flex;
  gap: 3rem;
  border-style: none;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.intro-container p:nth-child(2) {
  padding: 20px 0px;
}

.info-section {
  box-shadow: 0px 5px 5px rgb(197, 197, 197);
  background-color: white;
}

.info-section h1 {
  margin-bottom: 25px;
}

label {
  text-transform: uppercase;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 1.3rem;
  margin-bottom: 20px;
  width: 200px;
}

input:invalid {
  border-color: red;
}

input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 2px 2px 2px rgb(207, 207, 207);
}

button[type='submit'] {
  background-color: #596D48;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px rgb(207, 207, 207);
  margin-bottom: 30px;
}

a {
  color: white;
}

.right-container a {
  text-decoration: none;
  color: #596D48;
}

