@font-face {
  font-family: 'rubikregular';
  src: url('fonts/rubik-regular-webfont.woff2') format('woff2'),
    url('fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alex_brushregular';
  src: url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
    url('fonts/alexbrush-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "rubikregular", serif;
}

.left-container {
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  display: flex;
  height: 100vh;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

section.info {
  display: flex;
  flex-direction: column;
}
fieldset{
  display: flex;
}

.form-group {
  display: flex;
  flex-direction: column;
}